<button class="btn btn-primary" [disabled]="!allowNewProducts">
  Add New Product
</button>
<p>{{ allowNewProducts }}</p>
<p [innerText]="allowNewProducts"></p>
<app-server></app-server>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username" />
<button
  class="btn btn-primary"
  [disabled]="username === ''"
  (click)="onCreateUsername()"
>
  Reset User
</button>
<p *ngIf="usernameCreated; else noUser">
  User Created, the User name is {{ username }}
</p>
<ng-template #noUser>
  <p>No User created</p>
</ng-template>

<!-- <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
<p *ngIf="showSecret">Secret Password = tuna</p>
<div
  *ngFor="let logItem of log"
  [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text': logItem >= 5}"
>{{ logItem }}</div> -->
